.btn {
	height: 3.8rem;
	font-size: 1.6rem;
	font-weight: 700;
	color: var(--color-white);
	letter-spacing: 2.29px;
	line-height: 1.625;
	text-transform: uppercase;
	border-bottom: 2px solid var(--color-primary);
	transition: all 0.3s;
}

.btn:hover {
	color: var(--color-primary);
}
