.header-content-bin {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-content {
	text-align: center;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2.4rem;
}

.mobile-profile-img {
	background-image: url('../../../public/assets/images/image-profile-mobile.webp');
	background-size: cover;
	background-repeat: no-repeat;
	height: 38rem;
	width: 17.5rem;
	margin-top: -11.5em;
	margin-bottom: 4em;
	position: relative;
}

.main-heading {
	font-size: 4rem;
	font-weight: 700;
	letter-spacing: -1px;
	line-height: 1.1;
}

.main-heading > span {
	position: relative;
}
.main-heading > span::after {
	content: '';
	display: block;
	height: 4px;
	width: 100%;
	background-color: var(--color-primary);
	position: absolute;
	right: 0;
	bottom: 2px;
}

.header-body {
	color: var(--color-light-gray);
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.625;
}
