.navigation {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo {
	font-size: 2.4rem;
	font-weight: 700;
	letter-spacing: -0.33px;
	line-height: 1.3333;
	margin-bottom: 1.6666em;
	position: relative;
	z-index: 10;
}

.icons {
	display: flex;
	gap: 2.5rem;
	position: relative;
	z-index: 10;
	list-style: none;
}
