.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid var(--color-white);
	width: 100%;
	max-width: 80em;
	margin: 0 auto 3.9em;
	position: relative;
}

.form__heading {
	width: 100%;
	max-width: 44.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 5em;
}

.form__title {
	font-size: 4rem;
	font-weight: 700;
	color: var(--color-white);
	letter-spacing: -1.14px;
	line-height: 1;
	margin-bottom: 0.5em;
}

.form__description {
	text-align: center;
	color: var(--color-light-gray);
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.625;
}

.form__body {
	width: 100%;
	max-width: 44.5rem;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 3.2rem;
}

.form__body > .btn {
	align-self: flex-end;
	margin-bottom: 5.4375em;
}

textarea {
	width: 100%;
	font-family: inherit;
	letter-spacing: -0.22px;
	line-height: 1.625;
	font-size: 1.6rem;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--color-white);
	padding-left: 2.4rem;
	color: #fff;
}

textarea::placeholder {
	font-family: inherit;
	font-size: inherit;
	text-transform: uppercase;
	letter-spacing: -0.22px;
	line-height: 1.625;
}

textarea:focus {
	outline: none;
	border-bottom: solid 1px var(--color-primary);
}

textarea {
	padding-top: 1.2em;
}

form .btn {
	background-color: transparent;
	border: none;
	border-bottom: 2px solid var(--color-primary);
}

form > .rings-container {
	position: absolute;
	top: 393px;

	left: -342px;
}

form > .rings-container > .rings {
	width: 100%;
}

/* INPUTS START */
.input-row {
	position: relative;
}

input {
	width: 100%;
	height: 4.3rem;
	font-family: inherit;
	letter-spacing: -0.22px;
	line-height: 1.625;
	font-size: 1.6rem;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--color-white);
	padding-left: 2.4rem;
	color: #fff;
}

input::placeholder {
	font-family: inherit;
	font-size: inherit;
	text-transform: uppercase;
	letter-spacing: -0.22px;
	line-height: 1.625;
}

input:focus {
	outline: none;
	border-bottom: solid 1px var(--color-primary);
}

.errIcon {
	color: #ff6f5b;
	font-size: 24px;
	position: absolute;
	top: 0;
	right: 0;
}

.err-msg {
	font-size: 1.2rem;
	color: #ff6f5b;
	letter-spacing: -0.17px;
	line-height: 1.3333;
	text-align: right;
	margin-top: 0.3125em;
}

/* INPUTS END */

@media (min-width: 48em) {
	.form {
		margin-bottom: 3em;
	}

	.form__title {
		font-size: 7.2rem;
		letter-spacing: -2.05px;
		margin-bottom: 0.2777em;
	}

	.form__description {
		color: var(--color-light-gray);
		font-size: 1.8rem;
		line-height: 1.5555;
	}

	.form__heading {
		margin-bottom: 4.8em;
	}

	form > .rings-container {
		top: 500px;
		left: -370px;
	}
}

@media (min-width: 64em) {
	.form {
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		gap: 9rem;
		max-width: 111em;
		padding: 0 3.2em 0;
		margin: 0 auto 4.7em;
	}

	.form__heading {
		margin-bottom: 0;
	}

	.form__title {
		width: 100%;
	}

	.form__description {
		text-align: left;
	}

	.form__body > .btn {
		margin-bottom: 5.75em;
	}

	form > .rings-container {
		top: 250px;
		left: -350px;
	}
}

@media (min-width: 75em) {
	.form {
		gap: 20rem;
	}
}
