.logo {
	font-size: 2.4rem;
	font-weight: 700;
	letter-spacing: -0.33px;
	line-height: 1.3333;
	margin: 0.8333em 0 0.8333em;

	position: relative;
	z-index: 10;
}

@media (min-width: 48em) {
	.logo {
		font-size: 3.2rem;
		letter-spacing: -0.44px;
		line-height: 1;
		margin: 0;
	}
}
