:root {
	/* COLORS*/

	--color-black: #151515;
	--color-white: #ffffff;
	--color-primary: #4ee1a0;
	--color-gray: #242424;
	--color-light-gray: #d9d9d9;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body,
body *,
body *::after,
body *::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}

ul {
	list-style: none;
}

.App {
	font-family: 'SpaceGrotesk', sans-serif;
	color: var(--color-white);
	background-color: var(--color-black);

	min-height: 100vh;
}
